@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme {
  --breakpoint-3xl: 103rem;
  --breakpoint-xl: 82.5rem;
  --breakpoint-md: 50rem;
}


body {
  background: #323437;
}


/* Color coding during flight */

flight{
  --scorername: #D1D0C5;
  --fixture-time: #B49211; /* background for time aswell? */
  --timeline-prediction: #646669; /* Spacer lines aswell */
  --border: #FFCE00;
  --el-border-radius: 5px;
  --w: 250px;
  --bg: "#323437";

}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}